body {
    margin-top: 0px;
    font-family: 'Vollkorn SC', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#mainheader {
    background-color: rgb(22, 138, 22);
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav {
    height: 60px;
    width: 100%;
    padding: 12px;
    /*margin: 0 auto 20px;*/
    align-content: center;
    font-size: 19px;
    overflow: auto;

}

.searchbox {
    align-content: center;
    padding-left: .7rem;
    margin: 10 px 5px;
    width: 50%;

}

h1 {
    text-align: center;
}
h2 {
    font-family: 'Roboto';
    text-align: center;
}

#statement {

    background-color:rgb(22, 138, 22);
    font-style: italic;
    font-size: medium;
}

.main {display: flex;
       flex-direction: row;
       padding: 10px;

}


article {
    font-family: 'Roboto' ;
}

footer {
    background-color: rgb(22, 138, 22);
    padding-left: .7rem;

}

#flex-container {

    display: flex;
    flex-direction: column;
}