body {
    margin-top: 0px;
    font-family: 'Vollkorn SC', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
  }

#mainheader {
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav {
   /* height: 60px;
    width: 100%;
    padding: 12px;
    align-content: center;
    font-size: 19px;
    overflow: auto; */

}

.searchbox {
    align-content: center;
    padding: .5rem;
    width: 100%;
}
.flex-container {

        display: flex;
        padding: 1rem;
        margin: .5rem;
    }



h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: none !important;
    
}
h2 {
    font-family: 'Vollkorn SC';
    text-align: center;
}

#tagline {
    font-family: 'Vollkorn SC';
}


#statement {

    background-color:rgb(22, 138, 22);
    font-style: italic;
    font-size: medium;
}
/*
.main {display: flex;
       flex-direction: column;
       padding-left: 40px;

}
*/

article {
    font-family: 'Roboto' ;
}


