html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* grid rules */
.row {clear:both;}

.column {float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}

.small-12 {width: 100%;}

/* header rules*/
header {
    background-color: rgb(22, 138, 22);
    text-align: center;
    text-decoration: none !important;
}

header h1, header h2 {
    margin: 0;
    text-decoration: none;
}

header h1 {
    padding: .5rem 0 0 0;
    font-size: 2.2rem;
    text-decoration: none;
}

header h2 {
    padding: .3rem 0 0 0;
    font-size: 1.4rem;
    text-decoration: none;
}

button#hamburgerButton {
    background: none;
    border:none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
    }

    nav {
        background-color: rgb(22, 138,22);
    }

    nav ul {
            margin: 0; padding: 0;
        }

    nav ul li {
        list-style-type: none;
    }

    nav a {
        display: block;
        padding: .5rem 0;
        text-align: center;
    }

    nav li.active {

    }

    nav a:hover {
        background-color: rgba(0,0,0,0.2);
    }

    nav ul.open {
        display: block;
    }

    nav ul {
        display: none;
    }

    main img {
        width: 100%;
        height: auto;

    }

footer {
    background-color: rgb(22, 138, 22);
    font-size: 1.2rem;
}

footer h3 {
    font-style: italic;
    margin: 1rem 0 .3rem 0;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
    text-decoration: none;
  }
